@model ProjetoTecWebAspNetCore.Models.BalancoModel

@{
}

<body class="fixed-left">

    <div id="wrapper">

        <!-- ========== Top Bar Start ========== -->
        <partial name="~/Views/Shared/_TopBar.cshtml" />
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <partial name="~/Views/Shared/_LeftSideBar.cshtml" />
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page" style="padding-top:50px;">
            <!-- Start content -->
            <div class="content">
                <div class="container ">

                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">

                            @foreach (ContaModel conta in ViewBag.Contas)
                            {
                            <table id="customers" style="margin:10px;">
                                <tr>
                                    <td><h2>Tipo Gasto</h2></td>
                                    <td><h2>Valor</h2> </td>
                                </tr>
                                @foreach (BalancoModel balanco in conta.Balanco)
                                {
                                <tr>
                                    <td> <h3>@balanco.TipoGasto</h3> </td>
                                    <td> <h3>@balanco.Valor</h3> </td>
                                </tr>
                                }
                            </table>
                             }
                            </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <form asp-action="CadastrarBalancoPOST">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Valor" class="control-label"></label>
                                    <input asp-for="Valor" class="form-control" />
                                    <span asp-validation-for="Valor" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TipoGasto" class="control-label"></label>
                                    <input asp-for="TipoGasto" class="form-control" />
                                    <span asp-validation-for="TipoGasto" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Data" class="control-label"></label>
                                    <input asp-for="Data" class="form-control" />
                                    <span asp-validation-for="Data" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ContaID" class="control-label"></label>
                                    <select asp-for="ContaID" class="form-control">
                                        @foreach (ContaModel conta in @ViewBag.Contas)
                                        {
                                            <option value="@conta.ID">
                                                @conta.NumeroConta
                                            </option>
                                        }
                                    </select>
                                </div>
                                <input type="hidden" name="idUser" value="@ViewBag.Usuario.ID" />
                                <div class="form-group">
                                    <input type="submit" value="CadastrarBalanco" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end container -->

            </div> <!-- content -->

        </div>
        <!--Right Sidebar End -->

    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <!--
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
        -->
    <script src="~/js/detect.js"></script>
    <script src="~/js/fastclick.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/plugins/switchery/switchery.min.js"></script>

    <script type="text/javascript" src="~/plugins/parsleyjs/parsley.min.js"></script>

    <!-- App js -->
    <script src="~/js/jquery.core.js"></script>
    <script src="~/js/jquery.app.js"></script>

    <script>
        $('#btn-add-user').click(event => {
            event.preventDefault();
            console.log('clicou');
        });
    </script>

</body>
