@{
}

<body class="fixed-left">

    <div id="wrapper">

        <!-- ========== Top Bar Start ========== -->
        <partial name="~/Views/Shared/_TopBar.cshtml" />
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <partial name="~/Views/Shared/_LeftSideBar.cshtml" />
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page" style="padding-top:50px;">
            <!-- Start content -->
            <div class="content">
                <div class="container ">

                    <h1>Bem vindo @ViewBag.Usuario.Nome</h1>
                    <script>
                        @ViewBag.ArrayContas
                    </script>
                    <div class="row m-t-50 panel">
                        <div class="col-sm-12 col-md-4 col-lg-3">
                            <div class="card jumbotron">
                                <div class="card-body">Basic card</div>
                            </div>
                            <div class="bg-primary jumbotron">
                                <div class="card-body">Primary card</div>
                            </div>
                            <div class="card bg-success jumbotron">
                                <div class="card-body">Success card</div>
                            </div>
                            <div class="card bg-info jumbotron">
                                <div class="card-body">Info card</div>
                            </div>
                            <div class="card bg-warning jumbotron">
                                <div class="card-body">Warning card</div>
                            </div>
                            <div class="card bg-danger jumbotron">
                                <div class="card-body">Danger card</div>
                            </div>
                            <div class="card bg-secondary jumbotron">
                                <div class="card-body">Secondary card</div>
                            </div>
                            <div class="card bg-dark jumbotron">
                                <div class="card-body">Dark card</div>
                            </div>
                            <div class="card bg-light jumbotron">
                                <div class="card-body">Light card</div>
                            </div>
                        </div>
                        @foreach (ContaModel conta in ViewBag.Contas)
                        {
                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <h5 class="card-title">Conta @conta.NumeroConta</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Dados da conta</h6>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                                <canvas id="chart1_@conta.NumeroConta" width="400" height="400"></canvas>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <h5 class="card-title">Conta @conta.NumeroConta</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Dados da conta</h6>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                                <canvas id="chart2_@conta.NumeroConta" width="400" height="400"></canvas>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-3">
                                <h5 class="card-title">Conta @conta.NumeroConta</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Dados da conta</h6>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                                <canvas id="chart3_@conta.NumeroConta" width="400" height="400"></canvas>
                            </div>

                            <script>

                                var ctx = document.getElementById("chart1_@conta.NumeroConta").getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: arrayValorConta_@conta.NumeroConta,
                                        datasets: [{
                                            label: 'Balanco',
                                            data: arrayValorConta_@conta.NumeroConta,
                                            backgroundColor: [
                                                'rgba(54, 162, 235, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(54, 162, 235, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });

                                var ctx2 = document.getElementById("chart2_@conta.NumeroConta").getContext('2d');
                                var myChart = new Chart(ctx2, {
                                    type: 'doughnut',
                                    data: {
                                        labels: arrayValorConta_@conta.NumeroConta,
                                        datasets: [{
                                            label: 'Balanco',
                                            data: arrayValorConta_@conta.NumeroConta,
                                            backgroundColor: [
                                                'rgba(54, 162, 235, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(54, 162, 235, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });

                                var ctx3 = document.getElementById("chart3_@conta.NumeroConta").getContext('2d');
                                var myChart = new Chart(ctx3, {
                                    type: 'radar',
                                    data: {
                                        labels: ['Balanco', 'Balanco', 'Balanco'],
                                        datasets: [{
                                            label: 'teste',
                                            data: [2,3,4],
                                            backgroundColor: [
                                                'rgba(54, 162, 235, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(54, 162, 235, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        }
                        <script>

                        </script>
                    </div> <!-- end row -->
                </div> <!-- end container -->

            </div> <!-- content -->

        </div>
        <!--Right Sidebar End -->

    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <!--
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
        -->
    <script src="~/js/detect.js"></script>
    <script src="~/js/fastclick.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/plugins/switchery/switchery.min.js"></script>

    <script type="text/javascript" src="~/plugins/parsleyjs/parsley.min.js"></script>

    <!-- App js -->
    <script src="~/js/jquery.core.js"></script>
    <script src="~/js/jquery.app.js"></script>

    <script>
        $('#btn-add-user').click(event => {
            event.preventDefault();
            console.log('clicou');
        });
    </script>

</body>
